# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml

# Android
*.apk
*.aab
*.so
local.properties
android/.gradle/

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/